/* Common Section */
body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container {
    background-color: black;
    width: 1500px;
    padding: 0 40px;
    border-radius: 15px;
}

/* Main Section Detail CSS */
.detail {
    display: flex;
    justify-content: center;

}

.heading {
    width: 80%;
    margin-left: 35px;
}

.heading-deatil {
    font-size: 65px;
    color: white;
    margin-bottom: 0;
}

.paragraph {
    color: white;
    margin-bottom: 35px;
}

.btn {
    text-decoration: none;
    background-color: red;
    padding: 20px 30px;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
    background-color: white;
    color: black;
}

.heading-img {
    width: 60%;

}

.heading-img img {
    width: 80%;
}

/* Card Section */
.cards{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.card-option{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: black;
    padding: 60px;
    border-radius: 15px;
}

.card-option a{
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
    
}
.transfer-live{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.icons{
    display: flex;
    justify-content: space-between;
}

/* Media Query Mobile */

@media screen and (max-width: 576px) {

    /* For Main Section */
    main {
        width: 100%;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .detail {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        width: 100%;
        text-align: center;
        margin: 0;

    }

    .heading-deatil {
        font-size: 40px;
    }

    .heading-img {
        width: 100%;
        margin-top: 60px;


    }

}