/* Common Section */
body {
    font-family: 'Poppins', sans-serif;
   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container {
    background-color: black;
    width: 1500px;
    padding: 0 40px;
    border-radius: 15px;
}

/* Main Section Detail CSS */
.detail {
    display: flex;
    justify-content: center;

}

.heading {
    width: 80%;
   
}

.heading-deatil {
    font-size: 65px;
    color: white;
    margin-bottom: 0;
}

.paragraph {
    color: white;
    margin-bottom: 35px;
}

.btn {
    text-decoration: none;
    background-color: red;
    padding: 20px 30px;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
    background-color: white;
    color: black;
}

.heading-img {
    width: 60%;

}

.heading-img img {
    width: 80%;
}

/* Card Section */
.cards{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.card-option{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: black;
    padding: 60px;
    border-radius: 15px;
}

.card-option a{
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
    
}
.transfer-live{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.transfer-live div img{
    max-width: 100%;
}
.icon{
    margin-right: 15px;
    color: white;
}
.icon-set{
    color: black;
}
/* Footer Section */
.footer-container{
    text-align: center;
    margin-top: 150px;
    background-color: black;
    padding: 60px;
    color: white;
}
.footer-container h2{
    font-size: 40px;
}

.footer-container ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

/* UpComing Match Section */
.vs {
    
    font-size: 25px;
    margin: 15px;
}
.matches{
    align-items: center;
}

/* All Group List */
.list{
    text-align: center;
}

.btn-footer{
    display: none;
}

/* Media Query Mobile */

@media screen and (max-width: 576px) {

    /* For Main Section */
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container, .card-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .detail {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        width: 100%;
        text-align: center;
        margin: 0;

    }

    .heading-deatil {
        font-size: 30px;
    }

    .heading-img {
        width: 80%;
        margin-top: 60px;
    }

    /* For Card Section */
    
   .cards {
        width: 100%;
        flex-direction: column;
   }
   .card{
        display: flex;
        justify-content: center;
   }
   
   .transfer-live {
       grid-template-columns: repeat(1, 1fr);
       width: 100%;
       margin-top: 60px;
       
   }
   .transfer-live img{
    align-items: center;
    justify-content: center;
    
   }
   
}